.page-container
    height: 90%
    width: 100%
    .login-container
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
      height: 50%
      width: 40%
      background: var(--commonBgColor)
      margin: 60px auto 20px
      border-radius: 5px
      form
        width: 80%

      button::ng-deep
        background-color: var(--buttonBgColor)
        .mat-button-wrapper
          display: flex
          mat-spinner
            margin: auto 5px
          svg circle
            stroke: var(--commonBgColor)


.error-msg
  color: var(--warnColor)
  font-size: 0.85rem
