.mat-form-field
  width: 100%
  .mat-form-field-outline
    color: #C6C6C6

.mat-tooltip
  background: var(--commonTooltipBgColor) !important
  color: var(--commonTooltipColor) !important
  font-weight: 500 !important
  font-size: 0.7rem !important
.mat-menu-content
  padding: 0 !important

// Mat Dialog Box overriding defaults
.mat-dialog-container
  background-color: white
  color: black
