.header-container
  display: flex
  height: 50px
  border-bottom: 1px solid var(--commonBorderColor)
  width: 90%
  margin: 0px auto
  padding: 10px 0
  font-weight: bold
  .profile
    display: flex
    justify-content: center
    align-items: center
    margin-left: auto
    border-radius: 50%
    height: 30px
    width: 30px
    background-color: var(--secondaryColor)
    color: var(--primaryColor)

.user-info-container
    min-width: 220px
    display: flex
    flex-direction: column

    .name
        display: flex
        justify-content: center
        align-items: center
        padding: 20px 0
        background-color: var(--secondaryColor)
        color: var(--primaryColor)
        font-weight: 600
        font-size: 0.85rem

    .action-buttons
        padding: 12px 8px
        display: flex
        justify-content: space-around
        color: var(--secondaryColor)
        background: var(--primaryColor)

        button
            font-size: 0.85rem
            font-weight: 600
            color: var(--secondaryColor)
            i
                font-size: 0.85rem
